---

---

<div id="options-p1" class="options-scroll">
  <!-- justify-content -->
  <h4 class="opt-label" style="text-align:center;background:#333;color:#fff;">
    Justify
  </h4>
  <div class="flex-options">
    <span class="j-opt-btn opt-btn">space-evenly</span>
    <span class="j-opt-btn opt-btn">start</span>
    <span class="j-opt-btn opt-btn">center</span>
    <span class="j-opt-btn opt-btn">end</span>
  </div>
  <!-- align -->
  <h4 class="opt-label" style="text-align:center;background:#333;color:#fff;">
    Align
  </h4>
  <div class="flex-options">
    <span class="a-opt-btn opt-btn">start</span>
    <span class="a-opt-btn opt-btn">center</span>
    <span class="a-opt-btn opt-btn">end</span>
  </div>
  <!-- icon size -->
  <h4 class="opt-label" style="text-align:center;background:#333;color:#fff;">
    Size
  </h4>
  <div class="flex-options">
    <span class="sz-opt-btn opt-btn">sm</span>
    <span class="sz-opt-btn opt-btn">md</span>
    <span class="sz-opt-btn opt-btn">lg</span>
  </div>
</div>
<script src="./feedbackoptions.js"></script>
