:root {
  --font-family-default: Arial, Helvetica, sans-serif;
  --font-color: ghostwhite;
  --footer-bg: rgba(0, 0, 0, 1);
  --font-size-nav: 18px;
  --font-size-nav-mobile: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
body {
  background-image: linear-gradient(
    rgba(238, 130, 238, 0.822),
    rgba(202, 48, 48, 0.673)
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#body-glow {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: rgb(66, 66, 211);
  filter: blur(10px);
  pointer-events: none;
  z-index: 991;
  animation: bg_glow 2.5s infinite alternate;
}
@keyframes bg_glow {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
    filter: blur(15px);
  }
}
.nav-container-class {
  height: 40px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 998;
}
#nav-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  height: inherit;
  background: #000;
}
#nav-container-id-mobile {
  display: none;
}
#nav-container-id {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art,
.option-art {
  color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-nav);
  font-family: var(--font-family-default);
}
.option-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-top: none;
  border-bottom: none;
  height: 100%;
  width: 100%;
}
.option-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.li {
  list-style-type: none;
}
.border-bottom {
  border-bottom: 4px solid rgb(213, 80, 80);
  padding: 0 0 3.25px 0;
}
.collapse-container {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 999;
  cursor: pointer;
  transition: 0.25s;
}
.collapse-container:hover {
  transform: scale(0.9);
  transition: 0.25s;
}
.collapse-span {
  height: 5px;
  width: 100%;
  transition: 0.25s;
}
.col-white {
  background: ghostwhite;
}
.col-black {
  background: #000;
}
#footer-id {
  height: 100px;
  width: 100%;
  background: var(--footer-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 992;
}
/* media query - mobile use - portrait */
@media screen and (max-width: 750px) {
  .collapse-container {
    display: flex;
  }
  #nav-menu {
    display: none;
  }
  .nav-fixed-class {
    height: inherit;
    width: inherit;
    display: Flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-list-mobile {
    text-align: center;
    height: 450px;
    display: Flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-container-class {
    height: 100vh;
    width: 85px;
    justify-content: start;
  }
  .art {
    font-size: var(--font-size-nav-mobile);
  }
  .li {
    margin-top: 32px;
  }
  #nav-container-id-mobile {
    height: 100%;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    z-index: 998;
  }
  .hide-nav {
    display: none;
  }
  .option-art {
    border: 1px solid #333;
    border-left:none;
    border-right:none;
  }
  .option-container {
    flex-direction: column;
    height: 75%;
  }
}
