/* root information */
:root {
  --font-family-default: Arial, Helvetica, sans-serif;
  --font-color: ghostwhite;
  --footer-bg: rgba(0, 0, 0, 1);
  --font-size-nav: 18px;
  --font-size-nav-mobile: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

/* body / layouts/Base.astro*/
body {
  background-image: linear-gradient(
    rgba(238, 130, 238, 0.822),
    rgba(202, 48, 48, 0.673)
  );
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#body-glow {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  background-color: rgb(66, 66, 211);
  filter: blur(10px);
  pointer-events: none;
  z-index: 991;
  animation: bg_glow 2.5s infinite alternate;
}
@keyframes bg_glow {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
    filter: blur(15px);
  }
}
/* navigation */
.nav-container-class {
  height: 40px;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 998;
}
#nav-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  height: inherit;
  background: #000;
}
#nav-container-id-mobile {
  display: none;
}
#nav-container-id {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* article/option tags */
.art,
.option-art {
  color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--font-size-nav);
  font-family: var(--font-family-default);
}
.option-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-top: none;
  border-bottom: none;
  height: 100%;
  width: 100%;
}
.option-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.li,
.no-style,
.rating-item {
  list-style-type: none;
}
.border-bottom {
  border-bottom: 4px solid rgb(213, 80, 80);
  padding: 0 0 3.25px 0;
}

/* collapse hamburger/icon */
.collapse-container {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 50px;
  width: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 999;
  cursor: pointer;
  transition: 0.25s;
}
.collapse-container:hover {
  transform: scale(0.9);
  transition: 0.25s;
}
.collapse-span {
  height: 5px;
  width: 100%;
  transition: 0.25s;
}
.col-white {
  background: ghostwhite;
}
.col-black {
  background: #000;
}

/* footer */
#footer-id {
  height: 100px;
  width: 100%;
  background: var(--footer-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 992;
}
/* workbench */
#workbench-container {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 40px;
  left: 0;
  display: flex;
  overflow: hidden;
}
/* media query - mobile use - portrait */
@media screen and (max-width: 750px) {
  .collapse-container {
    display: flex;
  }
  #nav-menu {
    display: none;
  }
  .nav-fixed-class {
    height: inherit;
    width: inherit;
    display: Flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-list-mobile {
    text-align: center;
    height: 450px;
    display: Flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  /* article and list items */
  .art {
    font-size: var(--font-size-nav-mobile);
  }
  .li {
    margin-top: 32px;
  }
  #nav-container-id-mobile {
    height: 100%;
    width: 85px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
    z-index: 998;
  }
  .hide-nav {
    display: none;
  }
  .option-art {
    border: 1px solid #333;
    border-left: none;
    border-right: none;
  }
  .option-container {
    flex-direction: column;
    height: 75%;
  }
  #canvas-container {
    transform: translate(0, -80px);
  }
}

.wb-column {
  height: inherit;
  max-width: 100%;
  min-width: 115px;
  width: 100%;
  border: 5px double #333;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 24px;
  padding: 12px 0 0 12px;
  overflow: hidden;
  overflow-x: scroll;
}
.wb-column::-webkit-scrollbar,
.options-scroll::-webkit-scorllbar
 {
  display: none;
}
.wb-column,
.options-scroll {
  scrollbar-width: none;
}
.no-style {
  cursor: grab;
}
.resize {
  transform: scale(2.25);
}

/* canvas */
#canvas-container {
  border: 16px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#canvas {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:var(--font-family-default);
  position:relative;
}

#selection-container {
  height: 85%;
  width: 50%;
  border: 2px solid #333;
  cursor: pointer;
  z-index: 998;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#rating-container {
  height: 33%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
  /* border:2px solid green; */
  border-bottom:2px solid #000
}
.rating-sub{
  display: flex;
  width:85%;
  /* border:2px solid red; */
  height:100%;
}
/* options */
#options-p1 {
  height: 125px;
  width: 100px;
  border: 2px solid #333;
  position: absolute;
  top: 0;
  left: 0;
  overflow:hidden;
  overflow-y:scroll;
}
.flex-options{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  gap:2px;
}
 .opt-btn{
  width:100%;
  text-align: center;
  height:100%;
  border-bottom:4px solid #333;
  border-right:none;
  border-left:none;
  border-top:none;
 }
.rating-item {
  border-radius: 50%;
}
.sz-sm{
  height: 50px;
  width: 50px;
}
.sz-md{
  height: 75px;
  width: 75px;
}
.sz-lg{
  height: 100px;
  width: 100px;
}
.not-selected {
  border: 2px solid #333;
}
.current-selection {
  border: 2px dotted #333;
}

.j-center {
  justify-content: center;
}
.j-space-evenly {
  justify-content: space-evenly;
}
.j-start {
  justify-content: start;
}
.j-end {
  justify-content: end;
}
.a-center {
  align-items: center;
}
.a-space-evenly {
  align-items: space-evenly;
}
.a-start {
  align-items: start;
}
.a-end {
  align-items: end;
}
.red-blink{
  background:'red';
  transition: .25s;
}