---
import '../styles/global.css'
---

<div class="collapse-container">
  <span class="collapse-span col-black"></span>
  <span class="collapse-span col-black"></span>
  <span class="collapse-span col-black"></span>
</div>

