---
import '../styles/global.css'
const { props } = Astro.props;
import Collapse from "./collapse.astro";
import NavigationDesktop from "./navigation-type/navigationDesktop.astro";
import NavigationMobile from "./navigation-type/navigationMobile.astro";
import navlist from '../assets/navigation/navlist'
---
<!-- hamburger -->
<Collapse />
<!-- navigation desktop -->
<div id="nav-container" class="nav-container-class hide-nav">
  <!-- nav desktop -->
  <NavigationDesktop {...{ navlist }} />
  <!-- nav mobile -->
  <NavigationMobile {...{ navlist }} />
  <script src='../assets/navigation/hamburger.js'></script>
</div>
