---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- titles prop -->
    <title>{title}</title>
  </head>
  <body>
    <!-- header -->
    <Header />
    <slot />
    <!-- footer -->
    <Footer />
  </body>
  <!-- highlight the current link in navigation -->
  <script src="../assets/navigation/currentPage.js"></script>
</html>
